/*GLOBAL*/


:root{
    --main-color: #ff206e;
}


nav .navbar-nav .nav-link.active,nav .navbar-nav .nav-link.show {
    color: var(--main-color);
} 

nav .nav-link{
    color: white;
}

nav .nav-link:focus,nav .nav-link:hover {
    color: var(--main-color)
}

/*SHARED*/

.icon {
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.icon:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}



/*---HOME SECTION---*/

#home{
    background-image: url('/img/bg.jpg');
    background-size: cover;
    background-position: center;
}

#home a {
    color: var(--main-color);
    text-decoration: none;
}



/*---ABOUT SECTION---*/

#about {
    background-image: url('/img/light_dot.jpg');
}

.section-header h2{
    font-size: 3rem;
    letter-spacing: 20px;
    color: #e1e1e1;
}

.section-header h2::after{
    content: "";
    width: 20%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#about .row .title {
    color: var(--main-color);
}

#service {
    background-image: url('/img/dark_dot.jpg');
}